/* Projects.css */
.projects-section {
  padding: 60px 20px;
  background: #000;
  color: #fff;
  text-align: center;
  min-height: 100vh;
  overflow: hidden;
}

.projects-title {
  font-size: 2.8rem;
  margin-bottom: 40px;
  font-weight: 600;
  letter-spacing: -0.5px;
}

.gradient-text-project {
  background: linear-gradient(90deg, #34c759, #30db84);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
}

.project-card {
  background: rgba(17, 17, 17, 0.85);
  backdrop-filter: blur(10px);
  padding: 0;
  border-radius: 24px;
  width: 320px;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  transition: transform 0.4s ease, box-shadow 0.4s ease, max-height 0.5s ease;
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  cursor: pointer;
  max-height: 360px;
}

.project-card:hover {
  transform: translateY(-8px) scale(1.035);
  box-shadow: 0 16px 36px rgba(0, 0, 0, 0.45);
}

.project-card.expanded {
  max-height: 620px;
}

.project-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-bottom: 1px solid #222;
}

.project-info {
  padding: 24px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.project-title {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 10px;
  position: relative;
  display: inline-block;
}

.project-title::after {
  content: "";
  display: block;
  height: 2px;
  width: 0;
  background: #30db84;
  transition: width 0.3s ease;
  margin-top: 4px;
  
}

.project-card:hover .project-title::after {
  width: 100%;
}

.project-description {
  font-size: 0.95rem;
  color: #ccc;
  line-height: 1.6;
  margin-bottom: 16px;
  transition: all 0.3s ease;
}

.project-button {
  background: linear-gradient(to right, #34c759, #30db84);
  border: none;
  color: #000;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 999px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
  align-self: flex-start;
}

.project-button:hover {
  background: linear-gradient(to right, #30db84, #34c759);
  transform: scale(1.05);
}